<template>
	<button>
		<slot />
	</button>
</template>

<script>
export default {
	props: {
		value: {
			type: String,
			default: "Button"
		}
	}
}
</script>

<style lang="scss" scoped>
button {
	padding: $xxs $sm;
	background-color: $accent;
	color: $headline;
	font-size: $font-md;
	font-weight: 700;
	outline: none;

	&:hover {
		color: $headline;
		outline: 1.5px solid $headline;
	}

	&:focus {
		outline: 1.5px dashed $headline;
	}
}
</style>