<template>
	<footer>
		<div>
			<p>Created by <span class="bold">Ekkaia</span> with 💖</p>
			<p>Made with <span class="bold">Nuxt</span> and hosted on <span class="bold">Netlify</span></p>
		</div>
	</footer>
</template>

<style lang="scss" scoped>
footer {
	max-width: 60rem;
	width: 90%;
	margin: auto;
}

div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bold {
	font-weight: 700;
}
</style>