<template>
	<header class="header">
		<div class="header__content">
			<h1 class="header__title">Quizz!</h1>
		</div>
	</header>
</template>

<style lang="scss">
.header {
	position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
	left: 0;
	background-color: $accent;

	&__content {
		display: flex;
		justify-content: center;
		max-width: 60rem;
		width: 90%;
		margin: 0 auto;
		padding: $sm 0 $xs 0;
	}

	&__title {
		font-weight: 700;
		font-size: $font-xxl;
		color: $headline
	}
}
</style>