* {
    padding: 0;
	margin: 0;
	border: 0;
	vertical-align: baseline;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

p {
	line-height: 1.4;
}

h1,
h2,
h3,
h4 {
	line-height: 1.25;
}

button,
input[type=submit] {
	border: none;
	font-family: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
}

// Base
body,
html {
	height: 100%;
	line-height: 1;
	scroll-behavior: smooth;
	font-family: "Source Sans Pro", serif;
	font-size: 16px;
	font-weight: 300;
}

body {
	color: $paragraph;
	background-color: $main;
}

::selection {
	background-color: $accent;
	color: $headline;
}