<template>
	<div class="layout">
		<Header />
		<Nuxt />
		<Footer />
	</div>
</template>

<script>
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";

export default {
	components: {
		Header,
		Footer
	}
}
</script>

<style lang="scss">
.layout {
	display: flex;
	flex-direction: column;
}
</style>