<template>
	<main class="fit-content">
		<section class="section">
			<h2 class="section__title">Make your quizz!</h2>
			<p>Please select a number of questions and a category !</p>
			<form name="choice" class="choice" @submit.prevent="getQuestions">
				<div class="choice__input">
					<label for="categories">Select a question's category :</label>
					<select name="categories" v-model="choice.category">
						<option disabled selected>Choose</option>
						<option v-for="category in categories.trivia_categories" :value="category.id" :key="category.id">{{ category.name }}</option>
					</select>
				</div>
				<div class="choice__input">
					<label for="amount">Choose a number of questions :</label>
					<input type="number" name="amount" min="1" v-model="choice.amount" />
				</div>
				<div class="center">
					<Button type="submit">Get questions !</Button>
				</div>
			</form>
		</section>
		<section class="section" v-if="error != ''">
			<h2 class="section__title" style="text-align:center">Error !</h2>
			<p>{{ error }}</p>
		</section>
		<section class="section" v-if="Object.keys(questions).length != 0">
			<form name="quizz" class="quizz" @submit.prevent="getResults">
				<div class="quizz__question" v-for="(question, key) in questions.results" :key="key">
					<p class="quizz__title">
						<span>{{ "#" + (key + 1) }}</span>
						<span>{{ htmlDecode(question.question) }}</span>
					</p>
					<div v-if="question.type=='boolean'">
						<ul class="quizz__list">
							<li>
								<input :name="key" type="radio" :id="key + 'true'" value="True" v-model="responses[key]">
								<label :for="key + 'true'">True</label>
							</li>
							<li>
								<input :name="key" type="radio" :id="key + 'false'" value="False" v-model="responses[key]">
								<label :for="key + 'false'">False</label>
							</li>
							<li v-if="display">
								<span v-if="responses[key] == questions.results[key].correct_answer">✅</span>
								<span v-else>❌</span>
							</li>
						</ul>						
					</div>
					<div v-else>
						<ul class="quizz__list">
							<li v-for="answer in question.answers" :key="answer">
								<input :name="key" type="radio" :id="key + answer" :value="answer" v-model="responses[key]">
								<label :for="key + answer">{{ htmlDecode(answer) }}</label>
							</li>
							<li v-if="display">
								<span v-if="responses[key] == questions.results[key].correct_answer">✅</span>
								<span v-else>❌</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="center">
					<Button type="submit">Get results !</Button>
				</div>
				<div class="result" v-if="display">
					<h2>{{ result }}/{{ questions.results.length }}</h2>
					<p>{{ Math.trunc(result/questions.results.length*100) }}%</p>
				</div>
			</form>
		</section>
	</main>
</template>

<script>
import Button from "@/components/Button.vue";

export default {
	components: {
		Button
	},
	data() {
		return {
			categories: {},
			choice: {
				category: "Choose",
				amount: "1"
			},
			questions: {},
			responses: [],
			result: 0,
			display: false,
			error: ""
		}
	},
	async asyncData({ $axios }) {
		try {
			return await $axios.$get("https://opentdb.com/api_category.php").then(categories => {
				return { categories };
			});
		} catch (err) {
			console.log(err);
		}
	},
	methods: {
		async getQuestions() {
    		try {
				await this.$axios.$get(`https://opentdb.com/api.php?amount=${this.choice.amount}&category=${this.choice.category}`).then(questions => {
					switch (questions.response_code) {
						case 0:
							for (let i = 0 ; i < questions.results.length ; i++) {
								questions.results[i].answers = questions.results[i].incorrect_answers;
								questions.results[i].answers.push(questions.results[i].correct_answer);
								// Shuffle
								questions.results[i].answers.sort(() => Math.random() - 0.5);
								this.responses[i] = "";
							}
							this.questions = questions;
							this.display = false;
							this.result = 0;
							this.responses = [];
							this.error = "";
							break;
						case 1:
							this.error = "Could not return results. The API doesn't have enough questions for your query.";
							break;
						case 2:
							this.error = "Contains an invalid parameter. Arguements passed in aren't valid.";
							break;
						case 3:
							this.error = "Session Token does not exist.";	
							break;
						case 4:
							this.error = "Session Token has returned all possible questions for the specified query. Resetting the Token is necessary."
							break;
						default:
							break;
					}
					
					if (questions.response_code == 0) {
						
					}
				});
			} catch (err) {
				console.log(err);
			}

  		},
		htmlDecode(str) {
			// Escaping
			return new DOMParser().parseFromString(str, "text/html").documentElement.textContent;
		},
		getResults() {
			this.result = 0;
			for (let i = 0 ; i < this.responses.length ; i++) {
				if (this.responses[i] == this.questions.results[i].correct_answer) {
					this.result += 1;
				}
			}
			this.display = true;
		}
	}
}
</script>

<style lang="scss">
.fit-content {
	max-width: 60rem;
	width: 90%;
	margin: $xxl auto 0;
}

.center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section {
	display: flex;
	flex-direction: column;
	background-color: $background;
	padding: $sm $md;
	margin-bottom: $lg;

	&__title {
		font-weight: 700;
		font-size: $font-lg;
		margin-bottom: $xxs;
		color: $headline;

		+ p {
			font-size: $font-md;
			margin-bottom: $md;
		}
	}
}

.result {
	display: flex;
	margin-top: $md;
	flex-direction: column;
	align-items: center;

	h2 {
		font-size: $font-xl;
		color: $accent;
	}

	p {
		font-size: $font-md;
	}
}

.choice {
	&__input {
		display: flex;
		flex-direction: column;
		margin-bottom: $sm;
	}

	label {
		font-size: $font-sm;
		font-weight: 700;
		color: $accent;
		margin-bottom: $xxs;
	}

	select,
	input {
		width: auto;
		max-width: min-content;
		padding: $xxs;
		font-size: $font-sm;
	}
}

.quizz {
	&__title {
		font-size: $font-lg;
		font-weight: 700;
		margin-bottom: $xxs;
		color: $headline;
	}

	&__question {
		margin-bottom: $xl;
	}

	&__list {
		display: flex;
		flex-direction: row;

		li + li {
			margin-left: $lg;
		}

		li {
			display: flex;
			flex-direction: row;
		}
	}

	label {
		font-size: $font-sm;
	}

	input[type=radio] {
		margin-right: $xxs;
		align-self: center;

		&:checked {
			~ label {
				color: $accent;
				font-weight: 700;
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.quizz__list {
		flex-direction: column;

		li + li {
			margin-left: 0;
			margin-top: $md;
		}
	}
}
</style>